<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Book Buddy</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bannertext.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/backtotopbutton.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  </head>

  <body>

    <!-- Navigaton bar -->
    <header id="topnav">
      <div class="inner">
        <div class="logo">The Book Buddy</div>
          <nav role='navigation'>
            <ul>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="/#textbook">Textbooks</a></li>
            </ul>
          </nav>
      </div>
    </header>

    <div id="bannertext">--------- SUBJECTS</div>

    <div class="column">
        <div class="card">
          <div class="border"></div>
          <img src="static/img/image.jpg" />
        <h1>Subject Name</h1>
        </div>
    </div>

    <button id="back-to-top-btn"><i class="arrow up"></i></button>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>

    </body>
    </html>
